<section class ="page" id="about-page">
    <!-- <image id=aboutImage src="./images/olympicCoast.png"> -->
    <h2 id="about-title">About The Meyers-Briggs Type Indicator</h2>
 
     <p class="tab">Meyers-Briggs Type Indicator, or MBTI for short, was developed by a mother/daugher team of psycologists in the 1940's, working off of Carl Jung's typological theory.  It consists of a binary system of 4 traits, that combine to make a total of 16 personality types. <p class="tab"></p> 
 
    <p class="tab"> In every society the proportions of each type in the general population are varied and some types appear to be quite common, and others very rare.</p>
    <!--image here?  -->
    <footer>
      <p class="footer-text"><span class="branding">&copy; Mugsy Carter, 2016 <a href="https://github.com/MugsyCarter"> https://github.com/MugsyCarter</a></span></p>
    </footer>
</section>