<section class ="page" id="about-page">
    <!-- <image id=aboutImage src="./images/olympicCoast.png"> -->
    <h2 id="about-title">About The Meyers-Briggs Type Indicator</h2>
 
     <p class="tab">  <p class="tab"></p> 
 
    <p class="tab">Mugsy has the traditional Carter Family love of hearts, the outdoors, science, literature, good company, and bad taste.  The Carters depicted in this game are real people, and are much better at hearts, and much worse at polite converation, in person.</p>
    <!--image here?  -->
    <footer>
      <p class="footer-text"><span class="branding">&copy; Mugsy Carter, 2016 <a href="https://github.com/MugsyCarter"> https://github.com/MugsyCarter</a></span></p>
    </footer>
</section>