
<section class ="page" id="home-page">

  <div class="jumbotron">
    <h1 class="display-3">runnervate</h1>
    <p class="lead">energize your running</p>
    <hr class="my-4">
    <p>Track and monitor every aspect of your workouts to take your running to the next level</p>
    <p class="lead" ng-if="$ctrl.loggedIn===false">
      <a class="btn btn-primary btn-lg" ui-sref="login" role="button">Login</a>
      <a class="btn btn-success btn-lg" ui-sref="signup" role="button">Sign Up</a>
    </p>
  </div>

</section>
