
<section class ="page" id="home-page">
    <h1 class="title">MBTI Personality Test</h1>
    <h2 class="subtitle">Find yourself, here.</h1>
    <br>
    <table class="trait-table">
      
      <th>
        <tb class="trait-table-letter">I</tb>
        <tb class="trait-table-letter">S</tb>
        <tb class="trait-table-letter">F</tb>
        <tb class="trait-table-letter">J</tb>
      </th>
      <tr>
        <tb class="trait-table-letter">E</tb>
        <tb class="trait-table-letter">N</tb>
        <tb class="trait-table-letter">T</tb>
        <tb class="trait-table-letter">P</tb>

      </tr>
    </table>
    <br>
    <br>
    <button class="button" id="takeTestButton" ui-sref="test"><h1 id="testMessage">Take the Test!</h1></button>
    <footer>
      <p class="footerText"><span class="branding">&copy; Mugsy Carter, 2017</span></p>
    </footer>
</section>
