
<section class ="page" id="home-page">
    <h1 class="title">MBTI Personality Test</h1>
    <h2 class="subtitle">Find yourself here.</h1>
    <br>
    <table class="trait-table"> 
      <th>
        <tb ng-repeat="letter in $ctrl.letters"><div class="trait-table-letter" ng-class=letter.letter>{{letter.letter}}</div></tb>
      </th>

    
    </table>
    <br>
    <br>
    <button id="takeTestButton" ui-sref="test"><h1 id="testMessage">Take the Test!</h1></button>
    <footer>
      <p class="footer-text"><span class="branding">&copy; Mugsy Carter, 2017 <a href="https://github.com/MugsyCarter"> https://github.com/MugsyCarter</a></span></p>
    </footer>
</section>
