 <section>        
       
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">runnervate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{'nav-item active': {{$ctrl.active.home}}}">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item" ng-if="$ctrl.loggedIn===true">
                <a class="nav-link" ui-sref="profile">Profile</a>
              </li>
            <li class="nav-item" ng-if="$ctrl.loggedIn===true">
              <a class="nav-link" ui-sref="calendar">Calendar</a>
            </li>
            <li class="nav-item" ng-if="$ctrl.loggedIn===true">
                <a class="nav-link" ui-sref="addRun">Add Workout</a>
            </li>
            <li class="nav-item" ng-class="{'nav-item active': {{$ctrl.active.about}}}">
                <a class="nav-link" ui-sref="about">About</a>
              </li>
              <li class="nav-item" ng-if="$ctrl.loggedIn===false">
                <a class="nav-link" ui-sref="signup">Sign Up</a>
              </li>
              <li class="nav-item" ng-if="$ctrl.loggedIn===false">
                <a class="nav-link" ui-sref="login">Login</a>
              </li>
            <li class="nav-item" ng-if="$ctrl.loggedIn===true">
                <a class="nav-link" ui-sref="logout">Log Out</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">runnervate</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a ui-sref="home" class="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li ng-if="$ctrl.loggedIn===true"><a ui-sref="user"><span class="glyphicon glyphicon-user"></span>My Account</a></li>
                    <li><a ui-sref="lynchMap"><span class="glyphicon glyphicon-globe"></span>Lynching Map</a></li>
                    <li><a ui-sref="incidents"><span class="glyphicon glyphicon-list"></span>Browse Lynchings</a></li>
                    <li ng-if="$ctrl.user.role==='admin' || $ctrl.user.role=='contributor'"><a ui-sref="addIncident"><span class="glyphicon glyphicon-plus"></span>Add Lynching</a></li>
                    <li><a ui-sref="about"><span class="glyphicon glyphicon-apple"></span>About</a></li>
                    <li ng-if="$ctrl.loggedIn===false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li> 
                    <li ng-if="$ctrl.loggedIn===true"><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>   
                    <li ng-if="$ctrl.loggedIn===false"><a ui-sref="signup"><span class="glyphicon glyphicon-edit"></span>Sign Up</a></li>    
                  </ul>
                </div>
              </nav> -->


    <div class="container-fluid">
        <div class="loader-container" ng-if="$ctrl.loading===true">
            <h3> Loading</h3>
            <div class="loader" ></div>
        </div>

    </div>
        <ui-view></ui-view>
    </div>

    <div class="container-fluid">
        <p class="footer-text"><span class="branding">&copy; Mugsy Carter, 2018.  </span></p>
    </div>
  </section>