
<section>
       
        <h1>Lynching Map</h1>

        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.mapURL}}">
        <ng-map center="41,-87" zoom="3"></ng-map>
        </div>

        <h2>Browse Incidents</h2>
        <div id="filters">
                <div class="jumbotron">
                        <label for="inputFilter" class="col-lg-1 control-label">Filter by </label>
                        <div class="col-lg-1">
                                <select ng-model="$ctrl.newQuery.category" ng-options="filter.name for filter in $ctrl.filters">
                                </select>
                        </div>
                        <div>
                                <div ng-if="$ctrl.newQuery.category.name==='county'" class="col-lg-2" >
                                        <select  ng-model="$ctrl.newQuery.target" ng-options="county for county in $ctrl.counties">
                                        </select>
                                </div>
                                <div ng-if="$ctrl.newQuery.category.name==='place'" class="col-lg-2">
                                        <input ng-model="$ctrl.newQuery.target" type="text" class="form-control" id="inputPlace" placeholder="Place">
                                </div>
                                <div class="col-lg-2" ng-if="$ctrl.newQuery.category.name==='year'">
                                        <input ng-model="$ctrl.newQuery.target" type="number" class="form-control" id="inputYear" min=1500 max=2100>
                                </div>
                        </div>
                        <button ng-if="$ctrl.newQuery.target!==null" class="btn btn-success"  ng-click="$ctrl.addFilter()" ><span class="glyphicon glyphicon-plus"><h6>Add</h6></span></button>

                </div>
        </div>

        <div class="jumbotron mb-3" ng-if="$ctrl.queries.length">
                <label for="inputFilter" class="col-lg-3 control-label">Active Filters: Click a Filter to Remove</label>
                <div class="col-lg-2" ng-repeat="query in $ctrl.queries" >
                        <button type='button' class="{{$ctrl.classes[query.number]}}" ng-click="$ctrl.removeFilter(query)">{{query.category.name}} is {{query.target}}</button>
                </div>
        </div>

        <div class="form-group">
                <button class="btn btn-info"  ng-click="$ctrl.searchIncidents()" ><span class="glyphicon glyphicon-search"><h6>Search Incidents</h6></span></button>
        </div>

        <div id="incident-gallery" ng-if="$ctrl.incidents.length" class="panel-group">
                <h3>{{$ctrl.incidentNumber}} Results Found</h3>
                <ul id="incident-list">
                        <li ng-repeat="incident in $ctrl.incidents">
                                <div class="panel panel-primary col-lg-11" id="incident-panel">
                                        <div  class="panel-header">
                                                <h3>{{incident.suspectNames}}</h3>
                                        </div>
                                        <div class="panel-body" ng-hide="incident.fullView===true"> 
                                                <button class="btn btn-primary" id="show-incident-button" ng-click="$ctrl.showIncident(incident)"><span class="glyphicon glyphicon-view"><h6>Show More</h6></span></button>
                                                <h3>{{incident.year}}</h3>
                                                <h4>{{incident.place}}, {{incident.county}} County {{incident.state}}</h4>
                                                <p>{{incident.summary}} summary will go here</p>          
                                        </div>
                                        <div class="panel-body" ng-if="incident.fullView===true">
                                                <button class="btn btn-secondary" id="show-incident-button" ng-click="$ctrl.hideIncident(incident)" ><span class="glyphicon glyphicon-view"><h6>Show Less</h6></span></button>
                                                <h3>{{incident.year}}</h3>
                                                <h4>{{incident.place}}, {{incident.county}} County {{incident.state}}</h4>
                                                <p>{{incident.summary}} summary will go here</p>

                                                <div class="panel-body">
                                                        <h4>Accused</h4>
                                                        <p>Number: {{incident.numberSuspects}}</p>
                                                        <p>Names: {{incident.suspectNames}}</p>
                                                        <p>Races: {{incident.suspectRaces}}</p>
                                                        <p>Confession or Speech at Gallows: {{incident.confession}}</p>
                                                        <p>Accused Notes: {{incident.suspectNotes}}</p>
                                                </div>
                                            
                                                <div class="panel-body">
                                                        <h4>Victims</h4>
                                                        <p>Number:  <em>{{incident.victimNumber}}</em></p>
                                                        <p>Names: {{incident.victimNames}}</p>
                                                        <p>Genders: {{incident.victimGenders}}</p>
                                                        <p>Races: {{incident.victimRaces}}</p>
                                                        <p>Victim Notes: {{incident.victimNotes}}</p>
                                                </div>

                                                <div class="panel-body">
                                                        <h4>Lynching</h4>
                                                        <p>Type of Crowd:  <em>{{incident.crowdType}}</em></p>
                                                        <p>Size of Crowd: {{incident.crowdSize}}</p>
                                                        <p>Open or Closed?: {{incident.open}}</p>
                                                        <p>Authorities Present: {{incident.oldAuthorities}}</p>
                                                        <p>Crime: {{incident.crime}}</p>
                                                        <p>Punishment: {{incident.punishment}}</p>
                                                        <p>Lethality: {{incident.Lethality}}</p>
                                                        <p>Other Names Mentioned: {{incident.otherNamesMentioned}}</p>
                                                </div>
                                    
                                                <div class="panel-body">
                                                        <h4>Database Indices</h4>
                                                        <p>Case Number:  <em>{{incident.caseNum}}</em></p>
                                                        <p>Current Database ID:  <em>{{incident._id}}</em></p>
                                                        <p>Original Database Index: {{incident.origDBIndex}}</p>
                                                        <p>cwIndex: {{incident.cwIndex}}</p>
                                                        <p>gdIndex: {{incident.gdIndex}}</p>
                                                        <p>Index Notes: {{incident.crossRefNotesCwGd}}</p>
                                                </div>

                                                <div class="panel-body">
                                                        <h4>Sources</h4>
                                                        <p>Sources:  <em>{{incident.oldSources}}</em></p>
                                                        <p>Notes:  <em>{{incident.oldNotes}}</em></p>
                                                </div>

    latDecimal: Number,
    lonDecimal: Number,
    latNDegrees:Number,
    latNMinutes:Number,
    latNSeconds:Number,
    lonWDegrees:Number,
    lonWMinutes:Number,
    lonWSeconds:Number,
    year: requiredNumber,
    month: Number,
    day: Number,
    dateNotes: String,
    state: String,
    place: String,
    county: String,
    locationNotes: String,

                                        </div>
                                </div>
                        </li>
                </ul>
        <div>
</section>