
<section>

     <div class="container">
 
                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDatabase()" ><span class="glyphicon glyphicon-book"><h6>Populate Incidents</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteIncidents()" ><span class="glyphicon glyphicon-fire"><h6>Nuke Incidents</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('accusations')" ><span class="glyphicon glyphicon-book"><h6>Populate Accusations</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('accusations')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Accusations</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('accused')" ><span class="glyphicon glyphicon-book"><h6>Populate Accused</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('accused')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Accused</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('names')" ><span class="glyphicon glyphicon-book"><h6>Populate Names</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('names')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Names</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('punishments')" ><span class="glyphicon glyphicon-book"><h6>Populate Punishments</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('punishments')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Punishments</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('books')" ><span class="glyphicon glyphicon-book"><h6>Populate Books</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('books')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Books</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('newspapers')" ><span class="glyphicon glyphicon-book"><h6>Populate Newspapers</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('newspapers')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Newspapers</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('manuscripts')" ><span class="glyphicon glyphicon-book"><h6>Populate Manuscripts</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('manuscripts')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Manuscripts</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('oldNotes')" ><span class="glyphicon glyphicon-book"><h6>Populate old notes</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('oldNotes')" ><span class="glyphicon glyphicon-fire"><h6>Nuke oldNotes</h6></span></button>

                <button ng-if="$ctrl.nuke===true" class="btn btn-success"  ng-click="$ctrl.populateDB('websites')" ><span class="glyphicon glyphicon-book"><h6>Populate websites</h6></span></button>
                <button ng-if="$ctrl.nuke===true" class="btn btn-danger"  ng-click="$ctrl.deleteCollection('websites')" ><span class="glyphicon glyphicon-fire"><h6>Nuke Websites</h6></span></button>

        <!-- <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.mapURL}}">
        <ng-map center="41,-87" zoom="3"></ng-map>
        </div> -->

        <h2>Browse Lynchings</h2>
        <div ng-if="$ctrl.loading===true">
                        <h3>lynchings loading</h3>
                        <div class="loader" ></div>
                </div>
       
        <div id="No Results Message" ng-if="$ctrl.incidents.length===0" class="panel-group">
                <h3>No Results Found</h3>
        </div>

        <div id="incident-gallery" ng-if="$ctrl.activeIncidents.length" class="container">
                <h3>{{$ctrl.incidentNumber}} Results Found</h3>
                <ul id="incident-list">
                        <li ng-repeat="incident in $ctrl.activeIncidents">
                                <div class="row">
                                        <!-- full container -->
                                        <div class="col-lg-11" id="incident-panel">
                                                <!-- title container -->
                                                <div  class="row">
                                                        <!-- <h3>{{incident.accused.}} accused of {{incident.crime}}.    Punishment: {{incident.punishment}}.</h3> -->
                                                </div>
                                                <!-- title container ends -->
                                                
                                                <!-- short view starts -->
                                                <div class="row"> 
                                                        <button ng-if="incident.fullView===false" class="btn btn-primary" id="show-incident-button" ng-click="$ctrl.showIncident(incident)"><span class="glyphicon glyphicon-plus"><h6>Show More</h6></span></button>
                                                        <button ng-if="incident.fullView===true"class="btn btn-success" id="hide-incident-button" ng-click="$ctrl.hideIncident(incident)" ><span class="glyphicon glyphicon-minus"><h6>Show Less</h6></span></button>
                                                        <h4>{{incident.dateString}}</h4>
                                                        <h4> {{incident.locationString}}</h4>
                                                        <!-- <p>{{incident.summary}} summary will go here</p>           -->
                                                </div>
                                                <!-- short view ends -->
                                                <!-- long view starts -->
        
        <div class="row" ng-if="incident.fullView===true">                                       
      <div class="jumbotron" id="big-incident">
                <h2>{{incident.dateString}}.  {{incident.place}}, {{incident.county}} County {{incident.state}}</h2>

                <div class="row">
                        <div class="col-lg-10">
                                <ng-map class="small-map" center="{{incident.latDecimal}}, {{incident.lonDecimal}}" zoom="7" id="'map-' + {{incident._id}}">
                                        <marker position="{{incident.latDecimal}},{{incident.lonDecimal}}"/>
                                        
                                </ng-map>
                        </div>
                </div>
        </div>
              <div class="row marketing">
                <div class="col-lg-6">
                             
                        <div ng-if="$ctrl.user.role=='admin' || $ctrl.user.role=='contributor'">
                                <h4>Database Information</h4>
                                <p class="p-heading">Case Number:<span class="p-info"> {{incident.caseNum}}</span></p>
                                <p class="p-heading">CW Index:<span class="p-info"> {{incident.cwIndex}}</span></p>
                                <p class="p-heading">GD Index:<span class="p-info"> {{incident.gdIndex}}</span></p>
                                <p class="p-heading">Cross Reference Notes: <span class="p-info"> {{incident.crossRefNotesCwGd}}</span></p>
                                <br>
                        </div>

                        <h4>Date and Location</h4>
                        <p class="p-heading">Date:<span class="p-info"> {{incident.dateString}}</span> </p>
                        <p class="p-heading" ng-if="incident.dateNotes">Date Notes:<span class="p-info"> {{incident.dateNotes}}</span> </p>
                        <p class="p-heading">State:<span class="p-info"> {{incident.state}}</span></p>
                        <p class="p-heading">County:<span class="p-info"> {{incident.county}}</span></p>
                        <p class="p-heading">Place:<span class="p-info"> {{incident.place}}</span></p>
                        <p class="p-heading">Latitude: <span class="p-info"> {{incident.latDecimal}}</span></p>
                        <p class="p-heading">Longitude: <span class="p-info"> {{incident.lonDecimal}}</span></p>
                        <p class="p-heading" ng-if="incident.locationNotes">Location Notes:<span class="p-info"> {{incident.locationNotes}}</span> </p>
                        <br>

                        <div ng-if="incident.summary">
                                <h4> Summary</h4>
                                <p class="p-info" ng-if="incident.dateNotes">{{incident.summary}} </p>
                        </div>

                        <h4>Accused</h4>
                        <div ng-repeat="accused in incident.accused">
                                <p class="p-heading">Name:<span class="p-info"> {{accused.fullName}}</span> </p>
                                <p class="p-heading" ng-if="accused.namesString">AKA:<span class="p-info"> {{accused.namesString}}</span> </p>
                                <p class="p-heading">Race:<span class="p-info"> {{accused.race}}</span> </p>
                                <p class="p-heading">Nationality:<span class="p-info"> {{accused.nationality}}</span> </p>
                                <p class="p-heading">Gender:<span class="p-info">{{accused.gender}}</span> </p>
                                <div ng-repeat="accusation in accused.accusations">
                                        <p class="p-heading">Accusation:<span class="p-info"> {{accusation.accusation}}</span></p>
                                        <p class="p-heading">Weapon Used:<span class="p-info"> {{accusation.weapon}}</span></p>
                                </div>
                                <div ng-repeat="punishment in accused.punishments">
                                        <p class="p-heading">Punishment:<span class="p-info"> {{punishment.punishment}}</span> <span class="p-info" ng-if="punishment.lashes">: {{punishment.lashes}} lashes</span></p>
                                        <p class="p-heading" ng-if="punishment-notes">Punishment Notes:<span class="p-info"> {{punishment.notes}}</span></p>
                                </div>
                                <p class="p-heading">Confession or Speech at Gallows:<span class="p-info"> {{accused.confession}}</span></p>
                                <p class="p-heading" ng-if="accused.notes">Accused Notes:<span class="p-info"> {{accused.notes}}</span> </p>
                                <br>
                        </div>
                       
                        <h4>Lynching</h4>
                        <p class="p-heading">Type of Crowd:<span class="p-info"> {{incident.crowdType}}</span></p>
                        <p class="p-heading">Size of Crowd:<span class="p-info"> {{incident.croudSize}}</span></p>
                        <p class="p-heading">Open or Secret:<span class="p-info"> {{incident.open}}</span></p>
                        <p class="p-heading">Authorities: <span class="p-info"> {{incident.authorities}}</span></p>
                        <p class="p-heading">Authorities Present: <span class="p-info"> {{incident.authoritiesPresent}}</span></p>
                        <p class="p-heading">Lethality: <span class="p-info"> {{incident.lethality}}</span></p>
                        <p class="p-heading">Lynching Notes: <span class="p-info"> {{incident.incidentNotes}}</span></p>
                        <br>
                        <!-- <h4>Victim(s)</h4>
                        <p>Name(s): {{incident.victimNames}}</p>
                        <p>Gender(s): {{incident.victimGenders}}</p>
                        <p>Race(s): {{incident.victimRaces}}</p>
                        <p>Victim Notes: {{incident.victimNotes}}</p> -->
                </div>
        
                <div class="col-lg-6">
        
             

                        <h4>Sources</h4>
                        <br>
                        <!-- newspapers -->
                        <h4 ng-if="incident.newspapers.length>0">Newspapers</h4>
                        <div ng-if="incident.newspapers.length>0" ng-repeat="source in incident.newspapers"> 
                        <p class="p-heading">Article Title:<span class="p-info"> {{source.articleTitle}}</span> </p>
                        <p class="p-heading">Newspaper:<span class="p-info">{{source.newspaper}}</span> </p>
                        <p class="p-heading">Place:<span class="p-info"> {{source.place}}, </span><span class="p-heading">State:</span><span class="p-info"> {{source.state}},</span> <span class="p-heading">Country: </span><span class="p-info"> {{source.country}}</span> </p>
                        <p class="p-heading">Date:<span class="p-info"> {{source.dateString}}</span> </p>
                        <p class="p-heading" ng-if="source.section">Section:<span class="p-info"> {{source.section}}</span><span class="p-heading" ng-if="source.page">Page</span><span class="p-info"> {{source.page}}</span> <span class="p-heading" ng-if="source.column">Column</span><span class="p-info"> {{source.column}}</span> </p>
                        <p class="p-heading" ng-if="source.continuedPage">Continued on Page:<span class="p-info"> {{source.continuedPage}}</span> </p>
                        <p class="p-heading" ng-if="source.continuedColumn">Continued on Column:<span class="p-info"> {{source.continuedColumn}}</span> </p>
                        <p class="p-heading" ng-if="source.link">link:<a> {{source.link}}</a> </p>
                        <p class="p-heading" ng-if="source.incomplete">Incomplete?<a> {{source.incomplete}}</a> </p>
                        <p class="p-heading" ng-if="source.displayPDF">Display PDF<a> {{source.displayPDF}}</a> </p>
                        <br>
                        </div>


                        <!-- caseNum: Number,
                        incomplete: String,
                    
                        
                        edComp: String,
                        editorFn: String,
                        editorMn: String,
                        editorLn: String,
                        editorSuffix: String,
                        title: String,
                        placePub: String,
                        publisher: String,
                        yearPub: String,
                        volume: String,	
                        pages: String,
                        displayPDF: String,
                        pDF: String -->

                        <!-- books -->
                        <h4 ng-if="incident.books.length>0">Books</h4>
                        <div ng-if="incident.books.length>0" ng-repeat="source in incident.books"> 
                        <p class="p-heading">Title:<span class="p-info"> {{source.title}}</span> </p>
                        <p class="p-heading">Author:<span class="p-info"> {{source.auString}}</span> </p>
                        <p class="p-heading">Editor:<span class="p-info"> {{source.editorString}}</span> </p>
                        <p class="p-heading" ng-if="source.incomplete">Incomplete?<a> {{source.incomplete}}</a> </p>
                        <p class="p-heading" ng-if="source.displayPDF">Display PDF<a> {{source.displayPDF}}</a> </p>
                        <!-- <p class="p-heading">Place:<span class="p-info"> {{source.place}}, </span><span class="p-heading">State:</span><span class="p-info"> {{source.state}},</span> <span class="p-heading">Country: </span><span class="p-info"> {{source.country}}</span> </p>
                        <p class="p-heading">Date:<span class="p-info"> {{source.dateString}}</span> </p>
                        <p class="p-heading" ng-if="source.section">Section:<span class="p-info"> {{source.section}}</span><span class="p-heading" ng-if="source.page">Page</span><span class="p-info"> {{source.page}}</span> <span class="p-heading" ng-if="source.column">Column</span><span class="p-info"> {{source.column}}</span> </p>
                        <p class="p-heading" ng-if="source.continuedPage">Continued on Page:<span class="p-info"> {{source.continuedPage}}</span> </p>
                        <p class="p-heading" ng-if="source.continuedColumn">Continued on Column:<span class="p-info"> {{source.continuedColumn}}</span> </p>
                        <p class="p-heading" ng-if="source.link">link:<a> {{source.link}}</a> </p> -->
                        
                        <br>
                        </div>



                        
                </div>
                </div>
        </div>

                                                        <button class="btn btn-warning" id="edit-incident-button" ng-if="$ctrl.user.role=='admin'" ng-click="$ctrl.editIncident(incident)" ><span class="glyphicon glyphicon-wrench"><h6>Edit Incident</h6></span></button>
                                                        <button class="btn btn-danger" id="delete-incident-button" ng-if="$ctrl.user.role=='admin'" ng-click="$ctrl.deleteIncident(incident)" ><span class="glyphicon glyphicon-trash"><h6>Delete Incident</h6></span></button>

                                                        <button class="btn btn-warning" id="edit-incident-button" ng-if="$ctrl.user.role=='contributor'" ng-click="$ctrl.editIncident(incident)" ><span class="glyphicon glyphicon-wrench"><h6>Propose Edits to incident</h6></span></button>
                                                        <button class="btn btn-danger" id="delete-incident-button" ng-if="$ctrl.user.role=='contributor'" ng-click="$ctrl.proposeDeletion(incident)" ><span class="glyphicon glyphicon-trash"><h6>Propose Delete Incident</h6></span></button>

                                                <!-- long view ends -->
                                                </div>
                                        </div>
                                        <!-- full container ends -->
                                </div>
                                
                        </li>
                </ul>
        </div>
</div> 

        <div id="search-results-footer" class="jumbotron" ng-if="$ctrl.incidents.length>0">
                <div class="panel-md-10">
                        <h4><button class="btn btn-info" id="more-incidents-button" ng-if="$ctrl.minResult>9" ng-click="$ctrl.previousResults()"><span class="glyphicon glyphicon-arrow-left"><h5>Previous</h5></button>
                        <button class="btn btn-info" id="more-incidents-button" ng-if="$ctrl.maxResult<$ctrl.incidentNumber" ng-click="$ctrl.nextResults()"><span class="glyphicon glyphicon-arrow-right"><h5>Next</h5></button>
                        <span>Results {{$ctrl.minResult}}-{{$ctrl.maxResult}}</span>
                        <span> (of {{$ctrl.incidentNumber}})</h4>
                </div>
        </div>
              
</section>