
 <section>
         <h1> Single Incident Page</h1>
                                        <!-- <div class="panel panel-primary col-lg-11" id="incident-panel">
                                                <div  class="panel-header">
                                                        <h3>{{incident.suspectNames}}</h3>
                                                </div>
        
                                                <div ng-if="incident.fullView===true" class="lynchMap" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.mapURL}}" >
                                                        <ng-map ng-if="incident.fullView===true" class="small-map" center="{{incident.latDecimal}},{{incident.lonDecimal}} " zoom="8">
                                                                <marker  ng-if="incident.fullView===true" position=“{{incident.latDecimal}},{{incident.lonDecimal}}”/> 
                                                        </ng-map>
                                                </div>
        
                                                <div class="panel-body" ng-if="incident.fullView===true">
                                                        <button class="btn btn-secondary" id="show-incident-button" ng-click="$ctrl.hideIncident(incident)" ><span class="glyphicon glyphicon-view"><h6>Show Less</h6></span></button>
                                                        <h3>{{incident.year}}</h3>
                                                        <h4>{{incident.place}}, {{incident.county}} County {{incident.state}}</h4>
                                                        <p>{{incident.summary}} summary will go here</p>
        
                                                        <div class="panel-body">
                                                                <h4>Accused</h4>
                                                                <p>Number: {{incident.numberSuspects}}</p>
                                                                <p>Names: {{incident.suspectNames}}</p>
                                                                <p>Races: {{incident.suspectRaces}}</p>
                                                                <p>Confession or Speech at Gallows: {{incident.confession}}</p>
                                                                <p>Accused Notes: {{incident.suspectNotes}}</p>
                                                        </div>
                                                    
                                                        <div class="panel-body">
                                                                <h4>Victims</h4>
                                                                <p>Number:  <em>{{incident.victimNumber}}</em></p>
                                                                <p>Names: {{incident.victimNames}}</p>
                                                                <p>Genders: {{incident.victimGenders}}</p>
                                                                <p>Races: {{incident.victimRaces}}</p>
                                                                <p>Victim Notes: {{incident.victimNotes}}</p>
                                                        </div>
        
                                                        <div class="panel-body">
                                                                <h4>Lynching</h4>
                                                                <p>Type of Crowd:  <em>{{incident.crowdType}}</em></p>
                                                                <p>Size of Crowd: {{incident.crowdSize}}</p>
                                                                <p>Open or Closed?: {{incident.open}}</p>
                                                                <p>Authorities Present: {{incident.oldAuthorities}}</p>
                                                                <p>Crime: {{incident.crime}}</p>
                                                                <p>Punishment: {{incident.punishment}}</p>
                                                                <p>Lethality: {{incident.Lethality}}</p>
                                                                <p>Other Names Mentioned: {{incident.otherNamesMentioned}}</p>
                                                        </div>
                                            
                                                        <div class="panel-body">
                                                                <h4>Database Indices</h4>
                                                                <p>Case Number:  <em>{{incident.caseNum}}</em></p>
                                                                <p>Current Database ID:  <em>{{incident._id}}</em></p>
                                                                <p>Original Database Index: {{incident.origDBIndex}}</p>
                                                                <p>cwIndex: {{incident.cwIndex}}</p>
                                                                <p>gdIndex: {{incident.gdIndex}}</p>
                                                                <p>Index Notes: {{incident.crossRefNotesCwGd}}</p>
                                                        </div>
        
                                                        <div class="panel-body">
                                                                <h4>Sources</h4>
                                                                <p>Sources:  <em>{{incident.oldSources}}</em></p>
                                                                <p>Notes:  <em>{{incident.oldNotes}}</em></p>
                                                        </div>
                                                      </div>
                                        </div>
                                </li>
                        </ul>
                </div>
        </div> 
        
                <div id="search-results-footer" class="jumbotron" ng-if="$ctrl.incidents.length>0">
                        <div class="panel-md-10">
                                <button class="btn btn-info" ng-if="$ctrl.minResult>9" ng-click="$ctrl.previousResults()"><span class="glyphicon glyphicon-arrow-left"><h6>Previous</h6></button>
                                <button class="btn btn-info" ng-if="$ctrl.maxResult<$ctrl.incidentNumber" ng-click="$ctrl.nextResults()"><span class="glyphicon glyphicon-arrow-right"><h6>Next</h6></button>
                                <span>Results {{$ctrl.minResult}}-{{$ctrl.maxResult}}</span>
                                <span> (of {{$ctrl.incidentNumber}})</h3>
                        </div>
                </div> -->
</section>
