<section>
    <h1>Add Incident</h1>
    <form class="form-horizontal">
            <fieldset>
              <legend>Enter Lynching Incident Details</legend>
              
              <div class ="form-section">
                  <h2> Indices </h2>

                  <div class="form-group">
                      <label for="inputCwIndex" class="col-lg-2 control-label">C-W Index
                      </label>
                      <div class="col-lg-10">
                        <input ng-model="$ctrl.incident.cwIndex" type="text" class="form-control" id="inputCwIndex" placeholder="C-W Index">
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="inputGdIndex" class="col-lg-2 control-label">G-D Index
                        </label>
                        <div class="col-lg-10">
                          <input ng-model="$ctrl.incident.gdIndex" type="text" class="form-control" id="inputCwIndex" placeholder="C-W Index">
                        </div>
                      </div>

                  </div>




              <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Incident Name</label>
                <div class="col-lg-10">
                  <input ng-model="$ctrl.incident.name" type="text" class="form-control" id="inputName" placeholder="Incident Name">
                </div>
              </div>

              <div class="form-group">
                    <label for="inputType" class="col-lg-2 control-label">Incident Type</label>
                    <div class="col-lg-10">
                      <input ng-model="$ctrl.incident.type" type="text" class="form-control" id="inputType" placeholder="Incident Type">
                    </div>
                  </div>

              <div class ="form-section">
                <h2> Location </h2>
                <div class="form-group">
                    <label for="inputStartLocation" class="col-lg-2 control-label">Starting Location</label>
                    <div class="col-lg-10">
                      <input ng-model="$ctrl.incident.startLocation" type="text" class="form-control" id="inputName" placeholder="Start">
                    </div>
                  </div>
    
                <div class="form-group">
                        <label for="inputEndLocation" class="col-lg-2 control-label">Ending Location</label>
                        <div class="col-lg-10">
                          <input ng-model="$ctrl.incident.endLocation" type="text" class="form-control" id="inputName" placeholder="End">
                        </div>
                </div>
              </div>

              <div class ="form-section">
                <h2> Date </h2>
                <div class="form-group">
                      <label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
                      <div class="col-lg-10">
                        <input ng-model="$ctrl.incident.startDate" type="date" class="form-control" id="inputDate" placeholder="Start Date">
                      </div>
                  </div>

                  <div class="form-group">
                          <label for="inputEndDate" class="col-lg-2 control-label">End Date</label>
                          <div class="col-lg-10">
                            <input ng-model="$ctrl.incident.endDate" type="date" class="form-control" id="inputDate" placeholder="End Date">
                          </div>
                  </div>
              </div>

            
              <div class ="form-section">
                  <h2> Lynching </h2>
                  <div class="form-group">
                      <label for="inputStartLocation" class="col-lg-2 control-label">Starting Location</label>
                      <div class="col-lg-10">
                        <input ng-model="$ctrl.incident.startLocation" type="text" class="form-control" id="inputName" placeholder="Start">
                      </div>
                    </div>
                </div>

                <div class ="form-section">
                    <h2> Suspects </h2>
                    <div class="form-group">

                        <label for="inputSuspectNumber" class="col-lg-2 control-label">Number of Suspects</label>
                        <div class="col-lg-1">
                            <input type="number" name="quantity" min="1"> 
                        </div>

                        <label for="inputSuspectGender" class="col-lg-2 control-label">Suspect Gender(s)</label>
                        <div class="col-lg-1">
                            <input type="radio" name="gender" value="male" checked> Male<br>
                            <input type="radio" name="gender" value="female"> Female<br>
                            <input type="radio" name="gender" value="both"> both
                        </div>
                        <label for="inputSuspectRaces" class="col-lg-2 control-label">Suspect Race(s)</label>
                        <div class="col-lg-1" ng-repeat="race in $ctrl.races" >
                            <input type="checkbox" name="{{race}}" value="{race}"> {{race}}<br>
                        </div>
                        <br>
                      </div>

                    
                      <label for="textArea" class="col-lg-2 control-label">Suspect Notes</label>
                      <div class="col-lg-10">
                        <textarea ng-model="$ctrl.incident.suspectNotes" class="form-control" rows="3" id="textArea"></textarea>
                        <span class="help-block">Write notes concerning the suspect here.</span>
                      </div>
                  </div>

                  <div class ="form-section">
                      <div class ="form-section">
                          <h2> Victims </h2>
                          <div class="form-group">
      
                              <label for="inputSuspectNumber" class="col-lg-2 control-label">Number of Victims</label>
                              <div class="col-lg-1">
                                  <input type="number" name="quantity" min="1"> 
                              </div>
      
                              <label for="inputVictimGender" class="col-lg-2 control-label">Victim Gender(s)</label>
                              <div class="col-lg-1">
                                  <input type="radio" name="gender" value="male" checked> Male<br>
                                  <input type="radio" name="gender" value="female"> Female<br>
                                  <input type="radio" name="gender" value="both"> both
                              </div>
      
                            <label for="inputVictimRaces" class="col-lg-2 control-label">Victim Race(s)</label>
                            <div class="col-lg-1" ng-repeat="race in $ctrl.races" >
                                <input type="checkbox" name="{{race}}" value="{race}"> {{race}}<br>
                            </div>
                            <br>
                        </div>
                        <label for="textArea" class="col-lg-2 control-label">Victim Notes</label>
                        <div class="col-lg-10">
                          <textarea ng-model="$ctrl.incident.victimNotes" class="form-control" rows="3" id="textArea"></textarea>
                          <span class="help-block">Write notes concerning the victim here.</span>
                        </div>
                    </div>

                    <div class ="form-section">
                        <h2> Soures and Notes </h2>
                        <div class="form-group">
                            <label for="inputStartLocation" class="col-lg-2 control-label">Starting Location</label>
                            <div class="col-lg-10">
                              <input ng-model="$ctrl.incident.startLocation" type="text" class="form-control" id="inputName" placeholder="Start">
                            </div>
                          </div>

                       <label for="textArea" class="col-lg-2 control-label">Description</label>
                              <div class="col-lg-10">
                                <textarea ng-model="$ctrl.incident.description" class="form-control" rows="3" id="textArea"></textarea>
                                <span class="help-block">Write a brief description of the Incident here.</span>
                              </div>

                      </div>


             

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button ng-click="$ctrl.addThisIncident()" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
               


</section>