@import 'colors';
@import 'buttons';

* {
font-family: 'Dosis', sans-serif;
}

// home page stuff

.title{
  font-size: 10vh;  
}

.subtitle{
  font-size: 4vh;
}

.trait-table{
   border: 1vh solid $black;
}
.trait-table-letter{
   display: inline-block;
    min-height: 20vw;
    min-width: 20vw;
   font-size: 8vh;
   border: 1vh solid $black;
   color: $blue;
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
   .link{
    padding: 1% 8%;
  }

  .icon-menu {
    font-size: 3.6vh;
  }

}

