@import 'colors';
@import 'buttons';



//addtrip page

//googlemap stuff
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}



// * {
// font-family: 'Dosis', sans-serif;
// text-align: center; 
// }


// a{
//   text-decoration: none;
//   padding: 1vw;
//   &:hover{
//     box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }
// }

// td, th{
//   padding: none;
//   margin: none;
// }

// // navbar and app stuff 
// .main-nav{
// }

// .link{
//   display: inline-block;
//   color: $blue;
//   padding: 0 5vw 0 5vw; 
// }

// .active-link{
//   color: $yellow;
// }
// // home page stuff

// .title{
//   font-size: 16vh;
//   margin: 4vh;  
//   color: $blue;
// }

// .subtitle{
//   font-size: 4vh;
// }

// //trait table stuff
// .trait-table{
//    width: 60%;
//    margin-left: 20%;
//    margin-right: 20%;
//    background-color: white;
// }
// .trait-table-letter{
//   background-color: white;
//     vertical-align: center;
//    display: inline-block;
//     min-height: 10vw;
//     min-width: 10vw;
//    font-size: 7vw;
//    color: $blue;
// }

// .I{
//   color: white;
//   background-color: $yellow;
// }

// .E{
//    color: white;
//    background-color: $blue;   
// }

// .N{
//   color: $blue;
//   background-color: pink;
// }

// .T{
//    color:$blue;
//    background-color: $green;
// }

// .F{
//   color: $blue;
//   background-color:$yellow;
// }

// .P{
//   color: pink;
//   background-color: $blue;
// }

// .J{
//   color: $yellow;
//   background-color: $blue;
// }

// //test page

// .question-text{
//   font-size: 8vh;
// }
// #answer-button{
//   font-size: 4vh;
// }

// //results 
// .strength{
//   color: $black;
// }

// .strong{
//   color: $blue;
//   font-size: 7vh;
// }

// .moderate{
//   color: $green;
//   font-size: 5vh;
// }

// .weak{
//      color: pink; 
//      font-size: 3vh;
// }

// .results-descriptions{
//   width: 90vw;
//   padding: 0 5vw;
// }

// .results-description-row{
//   text-align: left;

// }

// .result-description{
//   text-align: left;
//   margin-left: 5vw;
// }
// //footer 

// //about page stuff
// .about-title{
//   font-size: 10vh;
// }

// @media only screen and (min-width: 1600px) {
//   /* Minor styling: larger image and fonts to match largest screen size */
//    .link{
//     padding: 1% 1%;
//   }

//   .icon-menu {
//     font-size: 3.6vh;
//   }

// }

