<section>
    <h1>Add Trip</h1>
    <form class="form-horizontal">
            <fieldset>
              <legend>Enter Trip Details</legend>
              
              <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Trip Name</label>
                <div class="col-lg-10">
                  <input ng-model="$ctrl.trip.name" type="text" class="form-control" id="inputName" placeholder="Trip Name">
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Checkbox
                    </label>
                  </div>
                </div>
              </div> -->

              <div class="form-group">
                    <label for="inputDate" class="col-lg-2 control-label">Start Date</label>
                    <div class="col-lg-10">
                      <input ng-model="$ctrl.trip.end" type="date" class="form-control" id="inputDate" placeholder="Start Date">
                    </div>
                </div>

                <div class="form-group">
                        <label for="inputDate" class="col-lg-2 control-label">End Date</label>
                        <div class="col-lg-10">
                          <input ng-model="$ctrl.trip.end" type="date" class="form-control" id="inputDate" placeholder="End Date">
                        </div>
                    </div>

                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map"></div>

                    <script>
                      // This example adds a search box to a map, using the Google Place Autocomplete
                      // feature. People can enter geographical searches. The search box will return a
                      // pick list containing a mix of places and predicted search terms.
                
                      // This example requires the Places library. Include the libraries=places
                      // parameter when you first load the API. For example:
                      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
                
                      function initAutocomplete() {
                        var map = new google.maps.Map(document.getElementById('map'), {
                          center: {lat: -33.8688, lng: 151.2195},
                          zoom: 13,
                          mapTypeId: 'roadmap'
                        });
                
                        // Create the search box and link it to the UI element.
                        var input = document.getElementById('pac-input');
                        var searchBox = new google.maps.places.SearchBox(input);
                        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                
                        // Bias the SearchBox results towards current map's viewport.
                        map.addListener('bounds_changed', function() {
                          searchBox.setBounds(map.getBounds());
                        });
                
                        var markers = [];
                        // Listen for the event fired when the user selects a prediction and retrieve
                        // more details for that place.
                        searchBox.addListener('places_changed', function() {
                          var places = searchBox.getPlaces();
                
                          if (places.length == 0) {
                            return;
                          }
                
                          // Clear out the old markers.
                          markers.forEach(function(marker) {
                            marker.setMap(null);
                          });
                          markers = [];
                
                          // For each place, get the icon, name and location.
                          var bounds = new google.maps.LatLngBounds();
                          places.forEach(function(place) {
                            if (!place.geometry) {
                              console.log("Returned place contains no geometry");
                              return;
                            }
                            var icon = {
                              url: place.icon,
                              size: new google.maps.Size(71, 71),
                              origin: new google.maps.Point(0, 0),
                              anchor: new google.maps.Point(17, 34),
                              scaledSize: new google.maps.Size(25, 25)
                            };
                
                            // Create a marker for each place.
                            markers.push(new google.maps.Marker({
                              map: map,
                              icon: icon,
                              title: place.name,
                              position: place.geometry.location
                            }));
                
                            if (place.geometry.viewport) {
                              // Only geocodes have viewport.
                              bounds.union(place.geometry.viewport);
                            } else {
                              bounds.extend(place.geometry.location);
                            }
                          });
                          map.fitBounds(bounds);
                        });
                      }
                
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2HGq4Hh7k7CUBs6VNkEJDI6UbPchNQyY&libraries=places&callback=initAutocomplete"
                    async defer></script>


              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                  <textarea ng-model="$ctrl.trip.description" class="form-control" rows="3" id="textArea"></textarea>
                  <span class="help-block">Write a brief description of the trip here.</span>
                </div>
              </div>

              <!-- <div class="form-group">
                <label class="col-lg-2 control-label">Radios</label>
                <div class="col-lg-10">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Option one is this
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else
                    </label>
                  </div>
                </div>
              </div>  -->

            <!-- <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Trip Activities</label>
                <div class="col-lg-10">
                  <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br>
                  <select multiple="" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div> -->


              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button ng-click="$ctrl.addThisTrip()" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>


          <body>
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map"></div>
                <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2HGq4Hh7k7CUBs6VNkEJDI6UbPchNQyY&libraries=places"></script> -->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2HGq4Hh7k7CUBs6VNkEJDI6UbPchNQyY&libraries=places&callback=initAutocomplete"
                     async defer></script>
              </body>


</section>