<section>
    <h1>Add Trip</h1>
    <form class="form-horizontal">
            <fieldset>
              <legend>Enter Trip Details</legend>
              
              <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Trip Name</label>
                <div class="col-lg-10">
                  <input ng-model="$ctrl.trip.name" type="text" class="form-control" id="inputName" placeholder="Trip Name">
                </div>
              </div>

              <div class="form-group">
                    <label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
                    <div class="col-lg-10">
                      <input ng-model="$ctrl.trip.startDate" type="date" class="form-control" id="inputDate" placeholder="Start Date">
                    </div>
                </div>

                <div class="form-group">
                        <label for="inputEndDate" class="col-lg-2 control-label">End Date</label>
                        <div class="col-lg-10">
                          <input ng-model="$ctrl.trip.endDate" type="date" class="form-control" id="inputDate" placeholder="End Date">
                        </div>
                </div>

            <div class="form-group">
                <label for="inputStartLocation" class="col-lg-2 control-label">Starting Location</label>
                <div class="col-lg-10">
                  <input ng-model="$ctrl.trip.startLocation" type="text" class="form-control" id="inputName" placeholder="Start">
                </div>
              </div>

            <div class="form-group">
                    <label for="inputEndLocation" class="col-lg-2 control-label">Ending Location</label>
                    <div class="col-lg-10">
                      <input ng-model="$ctrl.trip.endLocation" type="text" class="form-control" id="inputName" placeholder="End">
                    </div>
            </div>

              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                  <textarea ng-model="$ctrl.trip.description" class="form-control" rows="3" id="textArea"></textarea>
                  <span class="help-block">Write a brief description of the trip here.</span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button ng-click="$ctrl.addThisTrip()" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
               


</section>