//  $blue: #012a36;
// $black: #0a0908;
// $green: #8aea92;
// $yellow: #e6af2e;

$grey: #95a5a6 !default;
$blue:    #2C3E50 !default;
$green:   #18BC9C !default;
$cyan:    #3498DB !default;
$red:     #E74C3C !default;
$yellow:  #F39C12 !default;