//  $blue: #012a36;
// $black: #0a0908;
// $green: #8aea92;
// $yellow: #e6af2e;

$blue:    #4582EC !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #02B875 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
